<header [ngClass] = "{
   'has itens' : inputListItems.length
}">

   @if(inputListItems.length){
      <h1>Minhas Lista</h1>
   }

   <div>
      <label class="input-label-text" for="inputValue">
         <input #inputText type="text" placeholder="Adicione um novo item" id="inputValue" autofocus
            (keyup.enter)="focusAddItem(inputText.value)" [ngClass]="{
               'remove-margin-bottom' : inputListItems.length
            }">

         <button class="btn btn-primary-circle" title="Adicionar um novo item"
            (click)="focusAddItem(inputText.value)"></button>
      </label>
   </div>
</header>